[Unit]
Description=Meilisearch
After=network.target

[Service]
Type=simple
User=gulumsalim
Group=gulumsalim
WorkingDirectory=/var/lib/meilisearch
Environment=MEILI_ENV=production
Environment=MEILI_HTTP_ADDR=127.0.0.1:7700
Environment=MEILI_DB_PATH=/var/lib/meilisearch
EnvironmentFile=/etc/gulumsalim/meilisearch.env
ExecStart=/usr/local/bin/meilisearch
Restart=on-failure
RestartSec=3
MemoryMax=700M
PrivateTmp=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
